.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "Gotu", sans-serif;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
    &.disabled{
        opacity: 0.7;
        cursor: not-allowed;
    }
  }
  